<!DOCTYPE html>
<html>
    <head>
        <!--Header-->
	    <%- include('../partials/header.ejs')%>

        <link rel="stylesheet" href="/css/style.css">

        <style>
            form{
                width: 900px;
                padding-left: 4%;
                padding-right: 4%;
                padding-top: 3%;
                padding-bottom: 3%;
            }
        </style>

        <script type="text/javascript" src="/public/javascripts/subject-populator.js"></script>
        <script type="text/javascript" src="/public/javascripts/admin-class-populator.js"></script>
    </head>
    <body>
        <form role="form" class="form-horizontal" action="/search-classes/classes" method="GET">

        <div class="form-row">

            <!--Subject Dropdown Menu-->
            <div class="form-group col-md-8">
                <select id="department" class="form-control" name="department">
                    <option selected value="">Select a Department</option>
                    <% departments.forEach(function(department) { %>
                        <option value="<%= department %>"><%= department %></option>
                    <% }); %>
                </select>
                <!--Allow multiple selection?-->
            </div>

            <!--Course ID Text Box-->
            <div class="form-group col-md-4">
                <input type="number" class="form-control" id="classID" name="classID" min="1000" max="9999" placeholder="Course ID">
                <!--Maybe have hover over note for fields to help student with format-->
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-8">
                <select class="form-control" id="className" name="subject">
                    <option selected value="">Select a Class</option>
                    <% subjects.forEach(function(subject) { %>
                        <option value="<%= subject.className %>"><%= subject.department %><%= subject.classID %> - <%= subject.className %></option>
                    <% }); %>
                </select>
            </div>

            <!--Pathway Dropdown Menu-->
            <div class="form-group col-md-3">
                <select id="pathway" name="pathway" class="form-control">
                    <option selected value="">Select a pathway</option>
                    <% pathways.forEach(function(pathway) { %>
                        <option value="<%= pathway %>"><%= pathway %></option>
                    <% }); %>
                </select>
            </div>

            <!--Credit Dropdown Menu-->
            <div class="form-group col-md-2">
                <select id="credits" name="credits" class="form-control">
                    <option selected value="">Select Credit Amount</option>
                    <% credits.forEach(function(credit) { %>
                        <option value="<%= credit %>"><%= credit %></option>
                    <% }); %>
                </select>
            </div>

            <!--Time Dropdown Menu-->
            <div class="form-group col-md-2">
                <select id="inputTime" class="form-control">
                    <option selected>Select Start Time</option>
                    <option>8:30am</option>
                    <option>9:30am</option>
                    <option>10:30am</option>
                    <option>11:30am</option>
                    <!--functionality where if you choose certain days, different time options-->
                </select>
            </div>
               
            <!--Course Level-->
            <div class="form-group col-md-4">
                <select class ="form-control" id="inputLevel">
                    <option selected>Course Level...</option>
                    <option>1000</option>
                    <option>2000</option>
                    <option>3000</option>
                    <option>4000</option>
                    <option>Capstone</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <!--Professor-->
            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="inputProf" placeholder="Professor Name...">
            </div>
            <!--Empty box-->
            <div class="form-group col-md-3">
            </div>
            <!--Weekday Selection Checkboxes-->
            <div class="form-group col-md-5">
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    Mon
                </label>
                <label class="checkbox-inline"> 
                    <input type="checkbox" value="">
                    Tue
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    Wed
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    Thur
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    Fri
                </label>
            </div> 
        </div>
        <div class="form-row">
            <!--Search Button-->
			<!-- <div class="form-group col-md-12">
				<button type="submit" class="btn btn-primary">Find</button>
			</div> -->

            <div class="form-row">
               

                <!--Course Level-->
                <div class="col-md-4">
                    <select id="inputLevel" name="inputLevel" class="form-control">
                        <option selected value="">Course Level...</option>
                        <option value="1">1000</option>
                        <option value="2">2000</option>
                        <option value="3">3000</option>
                        <option value="4">4000</option>
                    </select>
                </div>

                <!--Professor-->
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="inputProfessor" placeholder="Professor Name">
                </div>
            </div>

            <!--Search Button-->
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </form>
        <div class="container-fluid" id="classEntry-container"></div>
    </body>
</html>