<!DOCTYPE html>
<html>
    <head>
        <!--Header-->
	    <%- include('../partials/header.ejs')%>

        <link rel="stylesheet" href="/css/style.css">

        <style>
            form{
                width: 900px;
                padding-left: 4%;
                padding-right: 4%;
                padding-top: 3%;
                padding-bottom: 5%;
            }
        </style>
    </head>
    <body>
    <form>

        <div class="form-row">

            <!--Subject Dropdown Menu-->
            <div class="form-group col-md-8">
                <select id="department" class="form-control" name="department" required>
                    <option selected disabled>Select a Department</option>
                    <% departments.forEach(function(department) { %>
                        <option value="<%= department %>"><%= department %></option>
                    <% }); %>
                </select>
                <!--Allow multiple selection?-->
            </div>

            <!--Course ID Text Box-->
            <div class="form-group col-md-4">
                <input type="number" class="form-control" id="classID" name="classID" min="1000" max="9999" placeholder="Course ID">
                <!--Maybe have hover over note for fields to help student with format-->
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-8">
                <select class="form-control" id="className" name="subject" required>
                    <option selected disabled>Select a Class</option>
                    <% classes.forEach(function(classItem) { %>
                        <option value="<%= classItem %>"><%= classItem %></option>
                    <% }); %>
                </select>
            </div>

            <!--Pathway Dropdown Menu-->
            <div class="form-group col-md-3">
                <select id="pathway" name="pathway" class="form-control">
                    <option selected disabled>Select a pathway</option>
                    <% pathways.forEach(function(pathway) { %>
                        <option value="<%= pathway %>"><%= pathway %></option>
                    <% }); %>
                </select>
            </div>

            <!--Credit Dropdown Menu-->
            <div class="form-group col-md-2">
                <select id="credits" name="credits" class="form-control">
                    <option selected disabled>Select Credit Amount</option>
                    <% credits.forEach(function(credit) { %>
                        <option value="<%= credit %>"><%= credit %></option>
                    <% }); %>
                </select>
            </div>

            <!--Time Dropdown Menu-->
            <div class="form-group col-md-2">
                <select id="inputTime" class="form-control">
                    <option selected>Select Start Time</option>
                    <option>8:30am</option>
                    <option>9:30am</option>
                    <option>10:30am</option>
                    <option>11:30am</option>
                    <!--functionality where if you choose certain days, different time options-->
                </select>
            </div>


            <!--Weekday Selection Checkboxes-->
			<div class="form-group col-md-5">
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					Mo
				</label>
				<label class="checkbox-inline"> 
					<input type="checkbox" value="">
					Tu
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					We
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					Th
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					Fr
				</label>
			</div> 
        </div>
            <!--Search Button-->
			<!-- <div class="form-group col-md-12">
				<button type="submit" class="btn btn-primary">Find</button>
			</div> -->

            <div class="form-row">
               

                <!--Course Level-->
                <div class="col-md-4">
                    <select id="inputLevel" class="form-control">
                        <option selected>Course Level...</option>
                        <option>1000</option>
                        <option>2000</option>
                        <option>3000</option>
                        <option>4000</option>
                    </select>
                </div>

                <!--Professor-->
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="inputProfessor" placeholder="Professor Name">
                </div>
            </div>
            
    </form>
    <script>
		$(document).ready(function() {
		  $('#department').change(function() {
			const department = $(this).val();
			$.ajax({
			  url: '/add-classes/subjects',
			  data: { department },
			  success: function(subjects) {
				const $classNameSelect = $('#className');
				$classNameSelect.empty();
				subjects.forEach(function(subject) {
				  $classNameSelect.append($('<option>', {
					value: subject._id,
					text: subject.classID + " - " + subject.className
				  }));
				});
			  }
			});
		  });
		});
	</script>
    </body>
</html>