<!DOCTYPE html>
<html>
<head>

	<!--Header-->
	<%- include('../partials/headers/header-admin.ejs')%>

	<title>Class Registration Form</title>

	<link rel="stylesheet" href="/css/style.css">

	<script type="text/javascript" src="/public/javascripts/subject-populator.js"></script>

</head>
<body>
	
	<form role="form" class="create-class" action="/add-classes" method="POST">

		<h1> Add Class </h1>

		<!-- Department Dropdown -->
		<label for="department">Department:</label>
		<div class="form-input">
			<select id="department" name="department" required>
			  <% departments.forEach(function(department) { %>
				<option value="<%= department %>"><%= department %></option>
			  <% }); %>
			</select>
		</div>
		<!-- Subject Dropdown -->
		<label for="className">Class name:</label>
		<div class="form-input">
			<select id="className" name="subject" required>
			</select>
		</div>
		<!-- Schedule Dropdown -->
		<label for="schedule">Schedule:</label>
		<div class="form-input">
			<select class="form-control" id="schedule" name="schedule" required>
				<% schedules.forEach(function(schedule) { %>
					<option value="<%= schedule._id %>"><%= schedule.classTimes[0].day %> <%= schedule.classTimes[1].day %> <%= schedule.classTimes[0].startTime %> - <%= schedule.classTimes[0].endTime %></option>
				<% }); %>
			</select>
		</div>

		<!--Submit Button-->
		<div class="form-group">
			<button type="submit" class="btn-primary">Add Class</button>
		</div>
	</form>


</body>
</html>