<% for (var i=0; i < classes.length; i++) { %>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-8">
            <h3>
                <%= classes[i].subject.className %>
            </h3>
        </div>
        <div class="col-xs-4">
            <h3>
                <%= classes[i].subject.classID %>-<%= classes[i].subject.department %>
            </h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-4">
            <p>
                Teacher: 
                <% if(classes[i].teacher){ %>
                    <%= classes[i].teacher.name %>
                  <% } else{ %>  
                    Undetermined
                 <% } %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Room:
                <% if(classes[i].room){ %>
                    <%= classes[i].room.building %>-<%= classes[i].room.number %>
                  <% } else{ %>  
                    Undetermined
                 <% } %>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Capacity:
                <% if(classes[i].room){ %>
                    <%= classes[i].room.capacity %>
                <% } else{ %>  
                    Undetermined
                <% } %>
            </p>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <p>
                Schedule: 
                <% if(classes[i].schedule && classes[i].schedule.classTimes){ %>
                    <% for (var j=0; j < classes[i].schedule.classTimes.length; j++) { %>
                        <%= classes[i].schedule.classTimes[j].day %>
                        [
                        <%= classes[i].schedule.classTimes[j].startTime %>
                        -
                        <%= classes[i].schedule.classTimes[j].endTime %>
                        ]
                        <% if(j < classes[i].schedule.classTimes.length - 1) { %>
                            &nbsp &nbsp
                        <% } %>
                    <% } %>
                <% } else{ %>  
                    Undetermined
                <% } %>

                
            </p>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-xs-6">
                
            <button type="button" class="btn btn-lg btn-block">
                Button
            </button>
        </div>
        <div class="col-xs-6">
                
            <button type="button" class="btn btn-lg btn-block">
                Button
            </button>
        </div>
    </div>
</div>
<% } %>