<% for (var i=0; i < audits.length; i++) { %>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-12">
            <h1 style="text-align: center;">
                Type of change: <%= audits[i].description %>
            </h1>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-xs-8">
            <h3>
                Author: <%= audits[i].user.name %> (<%= audits[i].user.role %>) [<%= audits[i].user.email %>]
            </h3>
        </div>
        <div class="col-xs-4">
            <h3>
                Date: <%= audits[i].timestamp %>
            </h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>
                    Class
                </h2>
            </div>
            <div class="panel-body">
                <div class="col-xs-8">
                    <h3>
                        <%= audits[i].class.subject.className %>
                    </h3>
                </div>
                <!--Displays Class Subject-->
                <div class="col-xs-4">
                    <h3>
                        <%= audits[i].class.subject.classID %>-<%= audits[i].class.subject.department %>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <% if (typeof audits[i].student !== 'undefined') { %>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>
                            Student
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-4">
                            <h3>
                                Name: <%= audits[i].student.name %>
                            </h3>
                        </div>
                        <!--Displays Class Subject-->
                        <div class="col-xs-4">
                            <h3>
                                ID: <%= audits[i].student.ID %>
                            </h3>
                        </div>
                        <div class="col-xs-4">
                            <h3>
                                Email: <%= audits[i].student.email %>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
          <% } %>
    </div>
</div>
<% } %>