<!DOCTYPE html>
<html>
    <head>
        <!--Header-->
	    <% if (userRole === 'student') { %>
            <%- include('partials/headers/header-student.ejs') %>
        <% } else if (userRole === 'admin') { %>
            <%- include('partials/headers/header-admin.ejs') %>
        <% } else if (userRole === 'teacher') { %>
            <%- include('partials/headers/header-teacher.ejs') %>
        <% } %>

        <link rel="stylesheet" href="/css/style.css">

        <style>
            form{
                width: 900px;
                padding-left: 4%;
                padding-right: 4%;
                padding-top: 3%;
                padding-bottom: 3%;
            }
        </style>
        <script type="text/javascript" src="/public/javascripts/class-subject-populator.js"></script>
        <script type="text/javascript" src="/public/javascripts/class-populator.js"></script>
        <script type="text/javascript" src="/public/javascripts/student-class-registration.js"></script>
    </head>
    <body>
        <form>
        <form role="form" class="form-horizontal" action="/search-classes/classes" method="GET">

        <div class="form-row">

            <!--Subject Dropdown Menu-->
            <div class="form-group col-md-8">
                <select id="department" class="form-control" name="department">
                    <option selected value="">Select a Department...</option>
                    <% departments.forEach(function(department) { %>
                        <option value="<%= department %>"><%= department %></option>
                    <% }); %>
                </select>
                <!--Allow multiple selection?-->
            </div>

            <!--Course ID Text Box-->
            <div class="form-group col-md-4">
                <input type="number" class="form-control" id="classID" name="classID" min="1000" max="9999" placeholder="Course ID">
                <!--Maybe have hover over note for fields to help student with format-->
            </div>
        </div>

        <div class="form-row">
            <!--Pathway Dropdown Menu-->
            <div class="form-group col-md-3">
                <select id="pathway" name="pathway" class="form-control">
                    <option selected value="">Pathways...</option>
                    <% pathways.forEach(function(pathway) { %>
                        <option value="<%= pathway %>"><%= pathway %></option>
                    <% }); %>
                </select>
            </div>

            <!--Credit Dropdown Menu-->
            <div class="form-group col-md-2">
                <select id="credits" name="credits" class="form-control">
                    <option selected value="">Credits...</option>
                    <% credits.forEach(function(credit) { %>
                        <option value="<%= credit %>"><%= credit %></option>
                    <% }); %>
                </select>
            </div>

            <!--Time Dropdown Menu-->
            <div class="form-group col-md-3">
                    <select class="form-control" id="schedule" name="schedule" required>
                        <option selected>Time...</option>
                        <% schedules.forEach(function(schedule) { %>
                            <option value="<%= schedule._id %>"><%= schedule.classTimes[0].day %> <%= schedule.classTimes[1].day %> <%= schedule.classTimes[0].startTime %> - <%= schedule.classTimes[0].endTime %></option>
                        <% }); %>
                    <!--functionality where if you choose certain days, different time options-->
                </select>
            </div>
               
            <!--Course Level-->
            <div class="form-group col-md-4">
                <select id="inputLevel" name="inputLevel" class="form-control">
                    <option selected value="">Course Level...</option>
                        <option value="1">1000</option>
                        <option value="2">2000</option>
                        <option value="3">3000</option>
                        <option value="4">4000</option>
                        <option value="5">5000</option>
                        <option value="6">Capstone</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <!--Class name-->
            <div class="form-group col-md-8">
                <select class="form-control" id="className" name="subject">
                    <option selected value="">Select a Class...</option>
                    <% subjects.forEach(function(subject) { %>
                        <option value="<%= subject.className %>"><%= subject.department %><%= subject.classID %> - <%= subject.className %></option>
                    <% }); %>
                </select>
            </div>

            <!--Professor-->
            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="inputProf" placeholder="Professor Name...">
            </div>
            </div>

            <div class="form-row">
            <!--Weekday Selection Checkboxes-->
            <div class="form-group col-md-7">
            </div>

            <div class="form-group col-md-5">
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    M
                </label>
                <label class="checkbox-inline"> 
                    <input type="checkbox" value="">
                    T
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    W
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    Th
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">
                    F
                </label>
            </div>
            
            <div class="form-group col-md-2">
            </div>

            <!--Search Button-->
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </div>
    </form>

        <div class="container w-75" id="classEntry-container"></div>

    </body>
</html>